.root{
   
    height: 956px;
    width: 1000px;
    margin: 0 auto;
}
.banner{
    text-align: center;
    height: 356px;
    color: rgb(255, 255, 255);
    background-color: cadetblue;
    width: 100%;
    padding-top: 15px;
    font-family: sans-serif; 
}
.btn{
    text-decoration: none;
    font-size: 25px;
    background-color:rgb(19, 226, 53) ;
    color: white;
    padding: 10px 15px;
    border-radius: 9px;
}
.gallery{
   
    height: 456px;
}
.A,
.B,
.C{
   
    height: 100%;
    width: 33%;
    float: left;
}
.A{
    text-align: center;
    font-family: sans-serif;
    color: rgb(226, 168, 43);
    font-weight: bold;
    padding-top: 25px;
}
.B{
    text-align: center;
    font-family: sans-serif;
    color: rgb(226, 168, 43);
    font-weight: bold;
    padding-top: 25px;
}
.C{
    text-align: center;
    font-family: sans-serif;
    color: rgb(226, 168, 43);
    font-weight: bold;
    padding-top: 25px;
}
img{
    width: 220px;
    padding-top: 15px;
}
.footer{
    height: 127px;
    text-align: center;
    color: rgb(7, 7, 7);
    font-weight: bold;
    background-color: cadetblue;
    font-size: 20px;
    
}
