.root{
   
    height: 940px;
    width: 1000px;
    margin: 0 auto;
}
.banner{
    text-align: center;
    height: 356px;
    color: rgb(255, 255, 255);
    background-color: rgb(9, 66, 68);
    width: 100%;
    padding-top: 15px;
    font-family: sans-serif; 
}
.btn{
    text-decoration: none;
    font-size: 25px;
    border: 1px solid;
    color: white;
    padding: 10px 15px;
    border-radius: 9px;
}
.btn:hover{
    color: rgb(0, 255, 98);
}
.gallery{
   
    height: 456px;
}
.A,
.B,
.C{
   
    height: 100%;
    width: 33%;
    float: left;
}
.A{
    text-align: center;
    font-family: sans-serif;
    color: rgb(226, 168, 43);
    font-weight: bold;
    padding-top: 25px;
}
.B{
    text-align: center;
    font-family: sans-serif;
    color: rgb(226, 168, 43);
    font-weight: bold;
    padding-top: 25px;
}
.C{
    text-align: center;
    font-family: sans-serif;
    color: rgb(226, 168, 43);
    font-weight: bold;
    padding-top: 25px;
}
img{
    width: 220px;
    padding-top: 15px;
}
.footer{
    height: 87px;
    color: rgb(255, 254, 254);
    font-weight: bold;
    background-color: rgb(23, 78, 80);
    padding-top: 25px;
    position: relative;
}
.footer p{
    display: inline-block;
    position: absolute;
    left: 45px;
}
.footer ul{
    margin: 0;
    padding: 0;
    left: 650px;
    position: absolute;
    
}
.footer ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 4px;
}
